extends layout
block content
  #brand.main-header
    a(href="#") STEAMTRACKER
    span An ongoing analysis of Steam's player numbers.
  #search-bar
    form(method="get",action="/search/",role="search")
      input(type="text",name="search",placeholder="Search Games")
  #game-header.main-header
    a(href="?").link
      h1= game.name
    #store-links
      a(href="#").link Store
      a(href="#").link Hub
  #game-banner.display-container
  #game-plot.display-container
    svg(version="1.1",baseProfile="full",width="100%",height="100%",id="svg-game-plot")
      g(id="g-plot")
      g(id="g-players")
      g(id="g-dates")
    h2#count-display Hover over the plot to see player counts.
    //script var totalPlayers = !{JSON.stringify(totalPlayers)}


  #performance.display-container
    table.table
      tr
        th Month
        th Avg. Players
        th Gain
        th % Gain
        th Peak Players
      -var count = 1
      each month in performance.months
        tr(class= count % 2 == 0 ? "" : "odd-row")
          td= month
          td
          td
          td
          td
          -count = count + 1

