extends layout
block content
  style.
    .axis text{
      fill: #aaa;
      font-size:.8em;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #aaa;
      shape-rendering: crispEdges;
    }
    .x.axis path {
    }
    .line {
      fill: none;
      //stroke: #8BC53F;
      stroke-width: 1.5px;
    }
    .grid .tick{
      opacity: 0.5 !important;
      stroke: lightgrey;
      fill: none;
      stroke-width:1px;
    }
    .grid path{
      stroke-width: 0;
    }

  #brand.main-header
    a(href="/") STEAMTRACKER
    span An ongoing analysis of Steam's player numbers.
  #search-bar
    form(method="get",action="/search/",role="search")
      input(type="text",name="search",placeholder="Search Games")
  #game-header.main-header
    h1= "Comparison of " + games.length + " Games"
  #game-plot.display-container
    script. 
      var playerCounts = !{JSON.stringify(games)}
      var appids = !{JSON.stringify(appids)}

  each game,index in games
    .game-selection.display-container
      .game-selection-item
        a(href="/app/"+game.appid)
          img(src="../images/"+game.appid+".jpg").img-logo
        h2= game.name
        div(class="legend-color-" + index)
      .game-selection-item
        a(href="/compare/" + appids.filter(function(appid){ return appid !== game.appid;}).join(',')).link X

  .game-selection.display-container
    .game-selection-item
      img(src="").img-logo#game-selection-img
    .game-selection-item#add-comparison
      if games.length < 4
        input(type="text",name="newComparison",id="newComparison",placeholder="Add game by name")
      else
        p Only four games may be compared at once. Please delete a game to make another comparison.

block scripts
  script(type="text/javascript",src="../javascripts/bundle-compare.js")
