doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='http://d3js.org/d3.v3.min.js')
    block head
  body
    #main
      block content
      block scripts
