.gain {
  color: #48a71f; }

.link {
  color: #fff;
  text-decoration: none; }

.next-link {
  margin-left: 10px; }

.svg-rect:hover {
  fill: #587A2F;
  transition: fill .4s ease; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  /* aspect ratio */
  vertical-align: top; }

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #aaa;
  font-size: 1em; }

#main {
  display: flex;
  flex-flow: column;
  align-items: center; }

.main-header {
  display: inherit;
  align-items: center;
  text-align: left;
  background-color: #111 !important; }
  .main-header a {
    display: block;
    margin-right: 10px;
    font-size: 1.5em;
    color: #aaa;
    text-decoration: none; }
  .main-header span {
    font-size: 1em;
    font-style: italic; }

.table {
  text-align: left;
  width: 100%; }
  .table caption.caption {
    text-align: left; }
    .table caption.caption h2 {
      margin-top: 5px !important; }
  .table tr.row {
    padding: 0 10px 0 10px; }
  .table tr.odd-row {
    background-color: #1d1d1d; }
  .table td.gain {
    color: #48a71f; }
  .table tfoot td.tfootTD {
    text-align: right !important; }

.display-container {
  background-color: #1a1a1a;
  color: #fff;
  margin-bottom: 20px;
  width: 50%;
  padding: 10px; }

#total-players h1 {
  margin: 1px; }
#total-players small {
  font-size: medium; }

#table-header {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.fullwidth-link-container {
  width: 50%;
  display: flex;
  align-items: flex-end; }

#search-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-bottom: 2px;
  padding-right: 0px;
  margin-top: -30px;
  margin-bottom: 0;
  background-color: #111; }
  #search-bar form {
    margin-left: auto; }
    #search-bar form input {
      max-width: 150px;
      padding-left: 5px;
      font-size: 1em;
      background-color: #1a1a1a;
      color: white;
      border: 1px solid #6b6b6b;
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */
      box-sizing: border-box;
      /* Opera/IE 8+ */ }

#add-comparison {
  width: calc(100% - 194px); }
  #add-comparison input {
    width: 100%;
    padding-left: 5px;
    font-size: 1em;
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #6b6b6b; }

img.img-logo {
  height: 80px;
  width: 171px;
  display: block; }

#store-links {
  margin-left: auto;
  display: inherit;
  align-items: center; }

#compare-link {
  text-align: right;
  margin-top: -20px; }

#game-header {
  margin: 0;
  padding: 0; }
  #game-header a {
    overflow: hidden !important; }
    #game-header a h2 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 5px; }

#game-banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }
  #game-banner .banner-item h2 {
    margin: 0; }

.game-selection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  .game-selection .game-selection-item {
    display: inherit;
    align-items: center; }
    .game-selection .game-selection-item h2 {
      margin-left: 10px; }
    .game-selection .game-selection-item .legend-color-0 {
      height: 1em;
      width: 1em;
      margin: auto 10px;
      background-color: #8BC53F; }
    .game-selection .game-selection-item .legend-color-1 {
      height: 1em;
      width: 1em;
      margin: auto 10px;
      background-color: #0099ff; }
    .game-selection .game-selection-item .legend-color-2 {
      height: 1em;
      width: 1em;
      margin: auto 10px;
      background-color: #ffff00; }
    .game-selection .game-selection-item .legend-color-3 {
      height: 1em;
      width: 1em;
      margin: auto 10px;
      background-color: #ff6600; }

@media (max-width: 1190px) {
  .display-container {
    width: 96% !important; }

  .display-container:not(#game-plot):not(#total-players) {
    font-size: 1.2em; }

  .main-header {
    width: 98% !important; }
    .main-header span {
      display: none; }

  table {
    font-size: 1.2em; }

  #table-header {
    width: 96% !important; }

  #total-players h1 {
    font-size: 1.8em; }

  #search-bar {
    width: 98% !important;
    padding-left: 0;
    font-size: 1.5em; }
    #search-bar form {
      width: 100% !important; }
      #search-bar form input {
        font-size: 1.5em;
        max-width: none !important;
        width: 100% !important; }

  small {
    font-size: large; } }

/*# sourceMappingURL=main.css.map */
