#store-links{
  margin-left:auto;
  display:inherit;
  align-items:center;
}

#game-plot{
  overflow:hidden;
  max-height:350px;
}

#game-banner{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  align-items:center;

  .banner-item{
    h2{
      margin:0;
    }
  }
}
