#store-links{
  margin-left:auto;
  display:inherit;
  align-items:center;
}

#game-plot{
}

#compare-link{
  text-align:right;
  margin-top:-20px;
}

#game-header{
  margin:0;
  padding:0;
  a{
    overflow:hidden !important;
    h2{
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      margin:5px;
    }
  }
}

#game-banner{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  align-items:center;

  .banner-item{
    h2{
      margin:0;
    }
  }
}
