$legend-colors-list: #8BC53F #0099ff #ffff00 #ff6600;
#game-plot{
  min-height:350px;
}
.game-selection{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items:center;

  .game-selection-item{
    display:inherit;
    align-items:center;
    h2{
      margin-left:10px;
    }
    .legend-color{
      @each $color in $legend-colors-list{
        $i: index($legend-colors-list,$color)-1;
        &-#{$i}{
          height:1em;
          width:1em;
          margin:auto 10px;
          background-color: $color;
        }
      }
        
    }
  }
}
