.main-header{
  display:inherit;
  align-items:center;
  text-align:left;
  background-color:#111 !important;
  a{
    display:block;
    margin-right:10px;
    font-size:1.5em;
    color: #aaa;
    text-decoration:none;
  }
  span{
    font-size:1em;
    font-style:italic;
  }
}
