#search-bar{
  display:flex;
  justify-content:space-between;
  padding-left:20px; // To account for padding around display-container class.
  padding-bottom:2px;
  padding-right:0px;
  margin-top:-30px;
  margin-bottom:0;
  background-color:#111;
  form{
    margin-left:auto;
    input{
      max-width:150px;
      padding-left:5px;
      font-size:1em;
      background-color:#1a1a1a;
      color:white;
      border:1px solid #6b6b6b;
    }
  }
}

#add-comparison{
  // Subtract with of game logo plus 10px for left margin of game title.
  width:calc(100% - 194px);
  input{
    width:100%;
    padding-left:5px;
    font-size:1em;
    background-color:#1a1a1a;
    color:white;
    border:1px solid #6b6b6b;
  }
}
