.svg-rect:hover{
  fill:#587A2F;
  transition:fill .4s ease;
}

#g-plot{
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%; /* aspect ratio */
	vertical-align: top;
	//overflow: hidden;
}
.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}
