.table{
  text-align:left;
  width:100%;
  caption{
    &.caption{
      text-align:left;
      h2{
        margin-top:5px !important;
      }
    }
  }
  tr{
    &.row{
      padding: 0 10px 0 10px;
    }
    &.odd-row{
      background-color: #1d1d1d;
    }
  }

  td{
    &.gain{
      color: #48a71f;
    }
  }
  tfoot{
    td.tfootTD{
      text-align:right !important;
    }
  }

}
